<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>

<body>
    <!-- <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photo-gallery">Gallery</a> -->
    <div id="nav-placeholder">

    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load('nav');
        });
    </script>
    <br>
    <img src="/images/martin-luther-king-speaking.jpg" alt="martin luther king speaker" />
    <h1>About Martin Luther King Jr.</h1>
    <hr />
    <h2>Synopsis</h2>
    <p>
        Martin Luther King, Jr., original name Michael King, Jr., (born January
        15, 1929, Atlanta, Georgia, U.S.—died April 4, 1968, Memphis, Tennessee),
        Baptist minister and social activist who led the civil rights movement in
        the United States from the mid-1950s until his death by assassination in
        1968. His leadership was fundamental to that movements success in ending
        the legal segregation of African Americans in the South and other parts of
        the United States. King rose to national prominence as head of the
        Southern Christian Leadership Conference, which promoted nonviolent
        tactics, such as the massive March on Washington (1963), to achieve civil
        rights. He was awarded the Nobel Peace Prize in 1964.
    </p>
    <hr />
    <h2>Early Years</h2>
    <p>
        King came from a comfortable middle-class family steeped in the tradition
        of the Southern Black ministry: both his father and maternal grandfather
        were Baptist preachers. His parents were college-educated, and Kings
        father had succeeded his father-in-law as pastor of the prestigious
        Ebenezer Baptist Church in Atlanta. The family lived on Auburn Avenue,
        otherwise known as “Sweet Auburn,” the bustling “Black Wall Street,” home
        to some of the countrys largest and most prosperous Black businesses and
        Black churches in the years before the civil rights movement. Young Martin
        received a solid education and grew up in a loving extended family.
    </p>
</body>

</html>