<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>MLK</title>
</head>

<body>
    <div id="nav-placeholder">

    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load('nav');
        });
    </script>
    <!-- <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photo-gallery">Gallery</a> -->
    <h1>Home</h1>
    <h2>Welcome, Ironhacker!</h2>
    <hr />
    <p>
        Click on the the links in the navigation bar to know more about Martin
        Luther King Jr.
    </p>

    <video controls>
        <source src="/images/martin-died-for-our-sins.mp4">
    </video>

</body>

</html>