<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- <a class="navbar-brand" href="#"> -->
    <!-- <img src="{% static 'media/tmo_PSi_icon.ico' %}" height="30" width="30" class="d-inline-block align-top" /> -->

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href='/'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/about'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/works'>Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/photo-gallery'>Photo Gallery</a>
            </li>
        </ul>
    </div>
</nav>