<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Photo Gallery</title>
</head>

<body>
    <!-- <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photo-gallery">Gallery</a> -->
    <div id="nav-placeholder">

    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load('nav');
        });
    </script>
    <br />
    <h1>Martin Luther King Gallery</h1>
    <img src="/images/martin-rosa-parks.jpg" alt="martin luther king and rosa parks bus">
    <img src="/images/martin-kennedy.jpg" alt="martin luther king and kennedy">
    <img src="/images/martin-speech.jpg" alt="martin luther king giving I have a dream speech">
    <img src="/images/martin-sitting.jpg" alt="martin luther king sitting">
</body>

</html>