<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Martin Luther King's Works</title>
</head>

<body>
    <!-- <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photo-gallery">Gallery</a> -->
    <div id="nav-placeholder">

    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load('nav');
        });
    </script>
    <h1>Martin Luther King's Works</h1>
    <hr />
    <h2>December 1, 1955</h2>
    <p>
        Rosa Parks is arrested for refusing to vacate her seat and move to the
        rear of a city bus in Montgomery to make way for a white passenger. Jo Ann
        Robinson and other Womens Political Council members mimeograph thousands
        of leaflets calling for a one-day boycott of the citys buses on Monday, 5
        December.
    </p>
    <hr />
    <h2>December 5, 1955</h2>
    <p>
        At a mass meeting at Holt Street Baptist Church, the Montgomery
        Improvement Association (MIA) is formed. King becomes its president.
    </p>
    <hr />
    <h2>January 30, 1956</h2>
    <p>
        At 9:15 p.m., while King speaks at a mass meeting, his home is bombed. His
        wife and daughter are not injured. Later King addresses an angry crowd
        that gathers outside the house, pleading for nonviolence.
    </p>
    <hr />
    <h2>August 28, 1963</h2>
    <p>
        The March on Washington for Jobs and Freedom attracts more than two
        hundred thousand demonstrators to the Lincoln Memorial. Organized by A.
        Philip Randolph and Bayard Rustin, the march is supported by all major
        civil rights organizations as well as by many labor and religious groups.
        King delivers his "I Have a Dream" speech. After the march, King and other
        civil rights leaders meet with President John F. Kennedy and
        Vice-President Lyndon B. Johnson in the White House.
    </p>
</body>

</html>